.wilhelm{
  &-falls{
    position: absolute;
    z-index: 1111;
    left: 0;
    right: 0;
    top: -50%;
    margin: 0 auto;
    transition: all 1.5s linear
  }

  .wilhelm-falls{
    top: 150%;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////

.page-anim{
  transition: all 200ms linear;
  &.ng-leave,
  &.ng-enter {
    position: absolute;
    right: 0;
  }

  &.ng-enter {
    opacity: 0;
    animation: fadeInUp .4s linear;
    &-active{
      opacity: 1;
    }
  }

  &.ng-leave {
    opacity: 1;
    animation: fadeInUp .4s linear reverse;
    &-active{
      opacity: 0;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(20%, -20%, 0) scale(1.4);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////

[disabled]{
  cursor: not-allowed;
  background: #b3b3b3;
}
*{
  box-sizing: border-box;
}
b{
  font-weight: 700;
}

///////////////////////////////////////////////////////////////////////////////////////////

.x{
  position: relative;
  font-size: 0;
  background: #00a885;
  overflow: hidden;
  &-scroller{
    position: relative;
    height: 100%;
    overflow-y: scroll;
  }

  &-header{
    display: inline-block;
    vertical-align: top;
    width: 7%;
    height: 100%;
    &-link{
      width: 100%;
      height: 33.3333vh;
      line-height: 33.3333vh;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      text-decoration: none;
      color: #ccc;
      background: #313131;
      display: inline-block;
      text-align: center;
      &:hover{
        opacity: .6;
      }
    }
  }

  &-page{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 93%;
    font-size: 16px;
    height: 100vh;
  }

  &-user{
    border-radius: 20px;
    background: #fff;
    color: #313131;
    box-shadow: 0 2px 20px -6px #171717;
    padding: 10px;
    margin: 0 0 20px;
    width: 24%;
    font-size: 0;
    position: relative;
    display: inline-block;
    transition: all 200ms linear;
    &-wrap{
      padding: 20px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &-info, &-img{
      display: inline-block;
      vertical-align: middle
    }

    &-info{
      width: 66%;
      &-name,
      &-text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
      &-name{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
      }
      &-text{
        font-size: 14px;
      }
    }
    &-img{
      width: 30%;
      border-radius: 20px;
      margin-right: 4%;
    }

    &-edit{
      width: 600px;
      margin: 0 auto;
      padding: 40px 0
    }

    &-perm{
      position: absolute;
      right: 10px;
      top: 10px;
      width: 25px;
      height: 16px;
      i{
        width: 10px;
        height: 3px;
        background: limegreen;
        position: absolute;
        &:first-child{
          bottom: 5px;
          left: 0;
          transform: rotate(45deg)
        }
        &:last-child{
          width: 20px;
          bottom: 7px;
          right: 0;
          transform: rotate(-45deg)
        }
      }
    }


    &:hover{
      box-shadow: 0 10px 40px -2px #171717;
    }
  }

  &-input{
    margin: 15px 0;
    &-title{
      text-transform: uppercase;
      color: #313131;
      font-size: 18px;
      margin: 0 0 5px 5px;
      font-weight: 700;
    }
    &-in{
      input{
        width: 100%;
        border-radius: 5px;
        background: white;
        border: 1px solid #313131;
        color: #313131;
        padding: 10px;
        font-size: 16px;
      }
    }
    
    &-sort{
      input{
        width: 100%;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        color: #ccc;
        background: #313131;
        display: inline-block;
        border: 0;

        
        &:focus{
          opacity: .6;
        }
      }
    }

    &-cart{
      font-size: 0;
      input{
        width: 33.333%;
        background: white;
        border: 1px solid #313131;
        color: #313131;
        padding: 10px;
        font-size: 16px;
        text-align: center;

        &:first-child{
          border-radius: 5px 0 0 5px;
        }
        &:nth-child(2){
          border-left: 0;
          border-right: 0; 
        }
        &:last-child{
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

  &-btn{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    background: #313131;
    color: white;
    text-decoration: none;
    border-radius: 5px;

    &-sort{
      padding: 10px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
      color: #ccc;
      background: #313131;
      display: inline-block;
      text-align: center;
      border: 0;
      &:hover{
        opacity: .6;
      }
    }
  }

  &-sort{
    font-size: 0;
    .x-btn-sort{
      width: 10%;
    }
    .x-input-sort{
      width: 60%;
      display: inline-block;
    }
  }

  &-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &-item{
        width: 50%;
        padding: 40px;
    }
  }


  &-home{
    position: relative;
    text-align: center;
    padding-top: 200px;
      &-title{
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: #d6d6d6;
        text-transform: uppercase;
    }
  }
}
