.wilhelm-falls {
  position: absolute;
  z-index: 1111;
  left: 0;
  right: 0;
  top: -50%;
  margin: 0 auto;
  transition: all 1.5s linear; }

.wilhelm .wilhelm-falls {
  top: 150%; }

.page-anim {
  transition: all 200ms linear; }
  .page-anim.ng-leave, .page-anim.ng-enter {
    position: absolute;
    right: 0; }
  .page-anim.ng-enter {
    opacity: 0;
    animation: fadeInUp .4s linear; }
    .page-anim.ng-enter-active {
      opacity: 1; }
  .page-anim.ng-leave {
    opacity: 1;
    animation: fadeInUp .4s linear reverse; }
    .page-anim.ng-leave-active {
      opacity: 0; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(20%, -20%, 0) scale(1.4); }
  to {
    opacity: 1;
    transform: none; } }

[disabled] {
  cursor: not-allowed;
  background: #b3b3b3; }

* {
  box-sizing: border-box; }

b {
  font-weight: 700; }

.x {
  position: relative;
  font-size: 0;
  background: #00a885;
  overflow: hidden; }
  .x-scroller {
    position: relative;
    height: 100%;
    overflow-y: scroll; }
  .x-header {
    display: inline-block;
    vertical-align: top;
    width: 7%;
    height: 100%; }
    .x-header-link {
      width: 100%;
      height: 33.3333vh;
      line-height: 33.3333vh;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      text-decoration: none;
      color: #ccc;
      background: #313131;
      display: inline-block;
      text-align: center; }
      .x-header-link:hover {
        opacity: .6; }
  .x-page {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 93%;
    font-size: 16px;
    height: 100vh; }
  .x-user {
    border-radius: 20px;
    background: #fff;
    color: #313131;
    box-shadow: 0 2px 20px -6px #171717;
    padding: 10px;
    margin: 0 0 20px;
    width: 24%;
    font-size: 0;
    position: relative;
    display: inline-block;
    transition: all 200ms linear; }
    .x-user-wrap {
      padding: 20px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
    .x-user-info, .x-user-img {
      display: inline-block;
      vertical-align: middle; }
    .x-user-info {
      width: 66%; }
      .x-user-info-name, .x-user-info-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block; }
      .x-user-info-name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px; }
      .x-user-info-text {
        font-size: 14px; }
    .x-user-img {
      width: 30%;
      border-radius: 20px;
      margin-right: 4%; }
    .x-user-edit {
      width: 600px;
      margin: 0 auto;
      padding: 40px 0; }
    .x-user-perm {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 25px;
      height: 16px; }
      .x-user-perm i {
        width: 10px;
        height: 3px;
        background: limegreen;
        position: absolute; }
        .x-user-perm i:first-child {
          bottom: 5px;
          left: 0;
          transform: rotate(45deg); }
        .x-user-perm i:last-child {
          width: 20px;
          bottom: 7px;
          right: 0;
          transform: rotate(-45deg); }
    .x-user:hover {
      box-shadow: 0 10px 40px -2px #171717; }
  .x-input {
    margin: 15px 0; }
    .x-input-title {
      text-transform: uppercase;
      color: #313131;
      font-size: 18px;
      margin: 0 0 5px 5px;
      font-weight: 700; }
    .x-input-in input {
      width: 100%;
      border-radius: 5px;
      background: white;
      border: 1px solid #313131;
      color: #313131;
      padding: 10px;
      font-size: 16px; }
    .x-input-sort input {
      width: 100%;
      padding: 10px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      color: #ccc;
      background: #313131;
      display: inline-block;
      border: 0; }
      .x-input-sort input:focus {
        opacity: .6; }
    .x-input-cart {
      font-size: 0; }
      .x-input-cart input {
        width: 33.333%;
        background: white;
        border: 1px solid #313131;
        color: #313131;
        padding: 10px;
        font-size: 16px;
        text-align: center; }
        .x-input-cart input:first-child {
          border-radius: 5px 0 0 5px; }
        .x-input-cart input:nth-child(2) {
          border-left: 0;
          border-right: 0; }
        .x-input-cart input:last-child {
          border-radius: 0 5px 5px 0; }
  .x-btn {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    background: #313131;
    color: white;
    text-decoration: none;
    border-radius: 5px; }
    .x-btn-sort {
      padding: 10px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
      color: #ccc;
      background: #313131;
      display: inline-block;
      text-align: center;
      border: 0; }
      .x-btn-sort:hover {
        opacity: .6; }
  .x-sort {
    font-size: 0; }
    .x-sort .x-btn-sort {
      width: 10%; }
    .x-sort .x-input-sort {
      width: 60%;
      display: inline-block; }
  .x-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    .x-box-item {
      width: 50%;
      padding: 40px; }
  .x-home {
    position: relative;
    text-align: center;
    padding-top: 200px; }
    .x-home-title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: #d6d6d6;
      text-transform: uppercase; }
