<div class="x-scroller">
    <div class="x-box">
        <div class="x-box-item">
            <div class="x-input">
                <div class="x-input-title">#1 = {{num.one}}</div>
                <div class="x-input-in"><input type="number" ng-model="num.one" ng-change="calc()"></div>
            </div>
            
            <div class="x-input">
                <div class="x-input-title">#2 = {{num.two}}</div>
                <div class="x-input-in"><input type="number" ng-model="num.two" ng-change="calc()"></div>
            </div>
            
            <div class="x-input">
                <div class="x-input-title">#3 = {{num.three}}</div>
                <div class="x-input-in"><input type="number" ng-model="num.three" ng-change="calc()"></div>
            </div>
            
            <div class="x-input">
                <div class="x-input-title">#4 = {{num.four}}</div>
                <div class="x-input-in"><input type="number" ng-model="num.four" ng-change="average()"></div>
            </div>
        </div>

        
        <div class="x-box-item">
            <div class="x-input">
                <div class="x-input-title">Cart</div>
                <div class="x-input-cart" input-cart>
                    <input type="text" maxlength="5" ng-model="cart.one" numbers-Only>
                    <input type="text" maxlength="5" ng-model="cart.two" numbers-Only>
                    <input type="text" maxlength="5" ng-model="cart.three" numbers-Only>
                </div>
            </div>
        </div>
    </div>
</div>