<div class="x-scroller">
    <div class="x-sort">
        <button class="x-btn-sort" ng-click="sortBy('name')">name</button>
        <button class="x-btn-sort" ng-click="sortBy('company')">company</button>
        <button class="x-btn-sort" ng-click="sortBy('email')">email</button>
        <button class="x-btn-sort" ng-click="prop = null;">default</button>
        <div class="x-input-sort"><input type="text" placeholder="Search"  ng-model="searchWord"></div>
    </div>

    <div class="x-user-wrap">
        <a ui-sref="usersInfo({ id: $index, isDuncanMacLeod: user.isActive })" ng-repeat="user in users | orderBy:prop | filter:searchWord" class="x-user">
            <img ng-src="{{user.picture}}" alt="" class="x-user-img">
            <span class="x-user-info">
                <span class="x-user-info-name">{{user.name}}</span>
                <span class="x-user-info-text">{{user.company}}</span>
                <span class="x-user-info-text">{{user.email}}</span>
            </span>

            <span ng-if="user.isActive" class="x-user-perm"><i></i><i></i></span>
        </a>
    </div>
</div>
