<div class="x-scroller">
    <form class="x-user-edit">
        <div class="x-input">
            <div class="x-input-title">Name</div>
            <div class="x-input-in"><input type="text" ng-model="user.name"></div>
        </div>
        
        <div class="x-input">
            <div class="x-input-title">Address</div>
            <div class="x-input-in"><input type="text" ng-model="user.address"></div>
        </div>
        
        <div class="x-input">
            <div class="x-input-title">Company</div>
            <div class="x-input-in"><input type="text" ng-model="user.company"></div>
        </div>
        
        <div class="x-input">
            <div class="x-input-title">Email</div>
            <div class="x-input-in"><input type="text" ng-model="user.email"></div>
        </div>
        
        <div class="x-input">
            <div class="x-input-title">Phone</div>
            <div class="x-input-in"><input type="text" numbers-Only phone-Checker ng-model="user.phone"></div>
        </div>
        
        <div class="x-input">
            <div class="x-input-title">Balance</div>
            <div class="x-input-in"><input type="text" currency ng-model="user.balance"></div>
        </div>

        <div class="x-input">
            <div class="x-input-title">About user</div>
            <div ng-if="!isDuncanMacLeod">U need permission from <b>Duncan MacLeod</b></div>
            <div ng-if="isDuncanMacLeod">
                Congratulations you have permission from <b>Duncan MacLeod</b> And u can read this:<br><br>
                
                <div ui-view="about"></div>
            </div>
        </div>



        <div class="x-box">
            <a ui-sref="users" class="x-btn"> < back</a>
        </div>
    </form>
</div>